@import 'variables';

.site-main-donate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.image-page-donate{ 
    width: 90%;
    height: 200px;
    background-size: cover;
    background-position-x: center;
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
}

.donation-image {
    background-image: url(../../assets/images/whatwedo.jpg);
    background-size: cover;
    background-position: center;
}

.sponsor-image {
    background-image: url(../../assets/images/sponsor.jpg);
    background-size: cover;
    background-position: center;
}

.donate-btn {
    cursor: pointer;
    width: 65%;
    border-radius: 50px;
    height: 55px;
    background-color: #f6e24f;
    position: relative;
    bottom: -25px;
    text-transform: capitalize;
    font-family: Oswald;
    font-weight: 400;   
    font-size: 1.5rem;
    color: #474747;
    box-shadow: 0px 1px #888;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #404040;
    align-items: center;

    &:visited {
        color:#404040;
    }

    &:hover {
        border-color: black;
        filter: brightness(1.1);    
    }
}

.donation-image button:hover {
    box-shadow: none;
    border-color: grey;
    filter: brightness(1.1);
    transition: all 0.2s ease 0s;
}

.sponsor-image button:hover {
    box-shadow: none;
    border-color: grey;
}

@media screen and (min-width: 768px){
    
    .content-area-donate {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .site-main-donate{
    margin-top: 100px;
    margin-bottom: 120px;
    width: 100%;
    }   

    .image-page-donate {
        background-size: 2014px 485px;
        background-position-y: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 1200px;
        height: 400px;
    }

    .donation-image {
        background-image: url(../../assets/images/whatwedo.jpg);
        background-position: center;
    }

    .sponsor-image {
        background-image: url(../../assets/images/sponsor.jpg);
        background-position: center;
    }
    
    .donate-btn {
        width: 35%;
        font-size: 2rem;
    }
}