/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat/Montserrat-BoldItalic.eot');
    src: url('../../assets/fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff'),
        url('../../assets/fonts/Montserrat/Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat/Montserrat-ExtraLight.eot');
    src: url('../../assets/fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff'),
        url('../../assets/fonts/Montserrat/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat/Montserrat-Light.eot');
    src: url('../../assets/fonts/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat/Montserrat-Light.woff') format('woff'),
        url('../../assets/fonts/Montserrat/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat/Montserrat-Italic.eot');
    src: url('../../assets/fonts/Montserrat/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat/Montserrat-Italic.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat/Montserrat-Italic.woff') format('woff'),
        url('../../assets/fonts/Montserrat/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat/Montserrat-ThinItalic.eot');
    src: url('../../assets/fonts/Montserrat/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat/Montserrat-ThinItalic.woff') format('woff'),
        url('../../assets/fonts/Montserrat/Montserrat-ThinItalic.svg#Montserrat-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat/Montserrat-ExtraBold.eot');
    src: url('../../assets/fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
        url('../../assets/fonts/Montserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat/Montserrat-BlackItalic.eot');
    src: url('../../assets/fonts/Montserrat/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat/Montserrat-BlackItalic.woff') format('woff'),
        url('../../assets/fonts/Montserrat/Montserrat-BlackItalic.svg#Montserrat-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat/Montserrat-MediumItalic.eot');
    src: url('../../assets/fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat/Montserrat-MediumItalic.woff') format('woff'),
        url('../../assets/fonts/Montserrat/Montserrat-MediumItalic.svg#Montserrat-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat/Montserrat-Black.eot');
    src: url('../../assets/fonts/Montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat/Montserrat-Black.woff') format('woff'),
        url('../../assets/fonts/Montserrat/Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat/Montserrat-SemiBold.eot');
    src: url('../../assets/fonts/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
        url('../../assets/fonts/Montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.eot');
    src: url('../../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.woff') format('woff'),
        url('../../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.eot');
    src: url('../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff'),
        url('../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat/Montserrat-Thin.eot');
    src: url('../../assets/fonts/Montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat/Montserrat-Thin.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat/Montserrat-Thin.woff') format('woff'),
        url('../../assets/fonts/Montserrat/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat/Montserrat-LightItalic.eot');
    src: url('../../assets/fonts/Montserrat/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat/Montserrat-LightItalic.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat/Montserrat-LightItalic.woff') format('woff'),
        url('../../assets/fonts/Montserrat/Montserrat-LightItalic.svg#Montserrat-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.eot');
    src: url('../../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.woff') format('woff'),
        url('../../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Monserrat/Montserrat-Bold.eot');
    src: url('../../assets/fonts/Monserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Monserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Monserrat/Montserrat-Bold.woff') format('woff'),
        url('../../assets/fonts/Monserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Monserrat/Montserrat-Regular.eot');
    src: url('../../assets/fonts/Monserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Monserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Monserrat/Montserrat-Regular.woff') format('woff'),
        url('../../assets/fonts/Monserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Monserrat/Montserrat-Medium.eot');
    src: url('../../assets/fonts/Monserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Monserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Monserrat/Montserrat-Medium.woff') format('woff'),
        url('../../assets/fonts/Monserrat/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

// OSWALD FONT

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald/Oswald-Medium.eot');
    src: url('../../assets/fonts/Oswald/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Oswald/Oswald-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Oswald/Oswald-Medium.woff') format('woff'),
        url('../../assets/fonts/Oswald/Oswald-Medium.svg#Oswald-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald/Oswald-SemiBold.eot');
    src: url('../../assets/fonts/Oswald/Oswald-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Oswald/Oswald-SemiBold.woff2') format('woff2'),
        url('../../assets/fonts/Oswald/Oswald-SemiBold.woff') format('woff'),
        url('../../assets/fonts/Oswald/Oswald-SemiBold.svg#Oswald-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald/Oswald-Light.eot');
    src: url('../../assets/fonts/Oswald/Oswald-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Oswald/Oswald-Light.woff2') format('woff2'),
        url('../../assets/fonts/Oswald/Oswald-Light.woff') format('woff'),
        url('../../assets/fonts/Oswald/Oswald-Light.svg#Oswald-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald/Oswald-Bold.eot');
    src: url('../../assets/fonts/Oswald/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Oswald/Oswald-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Oswald/Oswald-Bold.woff') format('woff'),
        url('../../assets/fonts/Oswald/Oswald-Bold.svg#Oswald-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald/Oswald-ExtraLight.eot');
    src: url('../../assets/fonts/Oswald/Oswald-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Oswald/Oswald-ExtraLight.woff2') format('woff2'),
        url('../../assets/fonts/Oswald/Oswald-ExtraLight.woff') format('woff'),
        url('../../assets/fonts/Oswald/Oswald-ExtraLight.svg#Oswald-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald/Oswald-Regular.eot');
    src: url('../../assets/fonts/Oswald/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Oswald/Oswald-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Oswald/Oswald-Regular.woff') format('woff'),
        url('../../assets/fonts/Oswald/Oswald-Regular.svg#Oswald-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// ROBOTO FONT

@font-face {
    font-family: 'Roboto Slab';
    src: url('../../assets/fonts/Roboto/RobotoSlab-Thin.eot');
    src: url('../../assets/fonts/Roboto/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Roboto/RobotoSlab-Thin.woff2') format('woff2'),
        url('../../assets/fonts/Roboto/RobotoSlab-Thin.woff') format('woff'),
        url('../../assets/fonts/Roboto/RobotoSlab-Thin.svg#RobotoSlab-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../../assets/fonts/Roboto/RobotoSlab-Bold.eot');
    src: url('../../assets/fonts/Roboto/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Roboto/RobotoSlab-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Roboto/RobotoSlab-Bold.woff') format('woff'),
        url('../../assets/fonts/Roboto/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../../assets/fonts/Roboto/RobotoSlab-Light.eot');
    src: url('../../assets/fonts/Roboto/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Roboto/RobotoSlab-Light.woff2') format('woff2'),
        url('../../assets/fonts/Roboto/RobotoSlab-Light.woff') format('woff'),
        url('../../assets/fonts/Roboto/RobotoSlab-Light.svg#RobotoSlab-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../../assets/fonts/Roboto/RobotoSlab-Regular.eot');
    src: url('../../assets/fonts/Roboto/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Roboto/RobotoSlab-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Roboto/RobotoSlab-Regular.woff') format('woff'),
        url('../../assets/fonts/Roboto/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

