.page-template-archive-expeditions {


    

    .expeditions-content-wrapper {
        .expeditions-container {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-top: 5%;
        }
    }


    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }

    button{
        color: black;
        background: $yellow;
        border-radius: 20px;
        font-family: $Mont;
        text-decoration: none;
        box-shadow: 0px 2px $shadow;
        font-weight: bold;
        text-transform: capitalize;

    } 

    h1{   
         text-transform: uppercase;
        font-family: Oswald;
        text-align: center;
    }


    //banner & mission statement 


    .expeditions-banner-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .mission-statement {
        display: flex;
        flex-direction: row;
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        p {
            font-family: $Mont;
            font-size:1rem;
            text-align: center;
        }
    } //upcoming expeditions

    .upcoming-expedition {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .section-title {
            display: flex;
            background-color: $yellow;
            font-family:$Oswald;
            width: 100%;
            justify-content: center;
            text-align: center;
            h1 {
                text-transform: uppercase;
                font-weight: bold;
            }
        }

    
    }
    .upcoming-expedition-wrapper {
        background-color: $blue-bg;
        display: flex;
        flex-direction: column;
        width: 100%; // height: 15%;
        .map-wrapper {
            display: flex;
            width: 100%;
            padding-left: 3%;
            padding-right: 1%;
            position:relative;

            @include desktop {
                padding-left: 10%;
                padding-right: 10%;

            }
            img {
                height: auto;
                max-width: 100%;
                position: absolute;
                right: 3%;
                width: 30%;
                top: 7%;

                @include desktop {
                    width: 25%;
                    right: 10%;
                }
            }
            .upcoming-expedition-info {
                display: flex;
                flex-direction: column;
                width: 100%;
                flex-wrap: wrap;
                padding: 3%;
                .expedition-details {
                    p , h3{
                        color: $yellow;
                        text-transform: uppercase;
                        font-family: $Mont;

                        @include desktop {
                            font-size: 2rem;
                        }
                        

                       
                    }
                    p{
                        font-weight:200;
                       
                        
                    }
                }
            }
        }
        .expedition-description {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 95%;
            p {
                color: white;
                font-family: $Mont;
                font-size:1rem;

                @include desktop {
                    font-size: 2rem;
                }
            }
        }
    } 
    .expedition-btn-wrapper{
        padding: 5%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width:100%;
        justify-content:center;
        button{
            width: 10rem;
            align-self: center;
            margin: 2%;
            height: 2.5rem;
        }

    }


    // past expeditions

    .past-expeditions{
        h1{
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 5%;
            margin-top: 5%;
        }

        p{
            margin:0px;
        }
    }


    .alm-reveal {
        li {
            list-style: none;
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            h3 {
                width: 100%;
                // background: linear-gradient(0deg, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.25));
                margin: 0px;
                height: 2rem;
                text-align: center;
                text-decoration: none;
                a{
                    text-decoration:none;
                    text-transform:uppercase;
                }
            }
            .entry-meta {
                display: none;
            }
        }
        p {
            display: none;
        }
    }
    .ajax-load-more-wrap {
        margin-top: -0.7rem;
        .alm-load-more-btn {
            color: $blue-bg;
        }
    }
    .single-expedition {
        list-style: none; // list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .expedition-name {
            width: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, .26), rgba(0, 0, 0, .25));
            margin: 0;
            height: 2rem;
            margin-top: -2rem;
            text-align: center;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            p,
            h3 {
                margin: 0px;
                color: white;
            }
        }
        .entry-meta {
            display: none;
        }
    }
    .expedition-info {
        display: none;
    }
    .single-event {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    } 

    .event-title {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center; // background: linear-gradient(0deg, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.25));
        height: 1.5rem;
        p {
            margin: 0;
            display: flex;
            width: 100%;
            justify-content: center;
            color: white;
        }
    } //.expedition-info, 
    .event-info {
        display: none;
        background-color: white;
    }
    span.button-wrapper,
    .alm-btn-wrap {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 5%;
    }
    .past-expeditions{
    
        .alm-load-more-btn {
            color: white;
            background: $blue-bg;
            border-radius: 20px;
            font-family: $Mont;
            text-decoration: none;
            box-shadow: 0px 2px $shadow;
            font-weight: bold;
            text-transform: capitalize;
            text-shadow: none;

        } 
    }   
    ///////////////////////////////////////////////////////////////////////////////////////
    // sponsors section 
    ///////////////////////////////////////////////////////////////////////////////////////
    .sponsors {
        display: flex;
        flex-direction: column;
        padding: 5%;
        padding-top:0px;
        flex-wrap: wrap;
        .sponsors-logos {
            background-image: url('../../assets/images/sponsors-logos.svg');
            background-size: cover;
            width: 100%;
            height: 4rem;
        }

        p{
            margin:0px;
        }
        
    }
    ///////////////////////////////////////////////////////////////////////////////////////
    // TEAM MEMBERS
    ///////////////////////////////////////////////////////////////////////////////////////
    .section-title,
    .current-research{
        display:flex;
        width:100%;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        background: $blue-bg;
        
    }
   
    
    .wsb-team,
    .research-projects {
        background-color: #04809E;
    }
    .wsb-team {
        position:relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        p {
            display: flex;
            width: 100%;
            justify-content: center;
            font-family:$Mont;
            color: white;
            
        }
    }
    .single-member {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        .member-picture {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            img {
                width: 100%;
                height: 100%;
                border: 2px solid white;
            }
        }
        .member-name {
            position: absolute;
            bottom: 0px;
            color: white;
            text-align: center;
            z-index: 1;
            text-transform: capitalize;
            font-size: .8rem;

            @include desktop {
                font-size: 2rem;
            }
        }
    }
    .member-info {
        background-color: white;
        display: none; //test
        //display: block;
        position: absolute;
        z-index: 1;
        width: 250%;
        height: 44rem; //test
        .icon-wrapper {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
            i {
                border: 3px solid #fff;
                box-shadow: grey;
                background-color: grey;
                border-radius: 50px;
                display: flex;
                flex-wrap: wrap;
                width: 3rem;
                height: 3rem;
                justify-content: center;
                align-items: center;
                font-size: 2.5rem;
                color: white;
            }
        }
    }
    .team-type-carousel {
        width: 90%;
        margin: 0px auto;
    }
    .slick-slide {
        margin: 10px;
        position:relative;
    }
    .slick-slide img {
        width: 100%; //  width: 100%;
        height: 100%; // display: flex;
    }

    .slick-prev, .slick-next{
        border-color:transparent;
        outline:none;
        box-shadow: none;
        background-color:transparent;

    }

   .apply-button{

    display: flex;
    height: 15%;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: center;
    background-color: $blue-bg;
     button{
        background: $yellow;
        text-shadow:none;
        
        border-radius: 85px;
        font-family: $Mont;
        text-decoration: none;
        box-shadow: none;
        font-weight: 700;
        text-transform: capitalize;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}


      
//    }
   
        
        
        
        
        
        ////////////////////////////////////////////////////////////////////////////////////////////////////
    // RESEARCH
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    .research-projects {
        display: flex;
        width: 100%;
        min-height: 18rem;
        justify-content: center;
        padding-top: 5%;
        padding-bottom: 0%;
    }
    .current-research {
        width: 100%;
        background-color: white;
        min-height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: white;

        p {
            padding-top: 5%;
            text-transform: uppercase;
            font-weight: bold;
             //font-famil
        }
    }

    .single-research-container{
        padding:5%;
    }
    .research-submission-wrapper {
        display: flex;
        height: 3rem;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top:-20px;
         button{
            background: $yellow;
            text-shadow: none;
            border-radius: 85px;
            font-family: $Mont;
            text-decoration: none;
            box-shadow: none;
            font-weight: 700;
            text-transform: capitalize;
            width: 12rem;
            height: 100%;
            font-size: 1rem;
    
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }


   
    .research-subject {
        height: 5%;
        display: flex;
        color: white;
        font-family: $Mont;
        text-transform: capitalize;
        padding: 5%;

    
        .ajax-load-more-wrap{
          
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
            height: auto;
        }

        .alm-btn-wrap{
            //padding:0px;
            padding-bottom: 15%;

            .alm-load-more-btn{
             
                width: 3rem;
                height: 3rem;
                background-color: transparent;
                box-shadow: none;
                color: #f6e24f;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                text-shadow: none;
            }
        }

       
        .alm-listing {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            .alm-reveal {
                display: flex;
                width: 100%;
                padding: 5%;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    flex-basis: 45%;
                        
               // .research-picture {
                    // width: 90%;
                    // height: 100%;
                    // flex-direction: row;
                    // justify-content: center;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        }
    }
    
  



// events     
    .events {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .single-events {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        a p {
            color: white;
            text-transform: uppercase;
            font-family: $Mont;
        }
        p {
            margin: 0px;
        }
        a {
            position: absolute;
            bottom: 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            text-decoration: none;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.25));
        }
        .alm-load-more-btn {
            color: $blue-bg;
        }
    }
    //}


//} // END OF PAGE TEMPLATE
// END OF PAGE TEMPLATE
//Media queries 
.page-template-archive-expeditions {
    @media screen and (min-width: 490px) {
        
        .sponsors-logos {
            min-height: 10rem;
        }
    }
}

/// 
.page-template-archive-expeditions{

    @include desktop {
        h1{ 
            font-size:2.5rem;
        }
        .mission-statement {
            width: 60%;
            p {
                font-size: 2rem;
            }
        }
        .expeditions-content-wrapper {
            display: flex;
            width: 100%;
            justify-content: center;
            .expeditions-container {
                width: 90%;
            }
        }

       .apply-button button{
        border-radius: 50px;
        font-size:1.5rem;
       }
    }
}