@import "variables";
.site-main-impact h1 {
    text-transform: uppercase;
    margin-top: 40px;
    text-align: center;
    font-family: $Oswald;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 1.75rem;
    margin-bottom: 15px;
}

.hero-image-impact-wrapper {
    display: flex;
    justify-content: center;
}

.hero-image-impact {
    background-image: url(../../assets/images/impact-hero.jpg);
    height: 220px;
    width: 100%;
    background-size: 680px 450px;
    background-position-x: -125px;
    background-position-y: -70px;
    background-repeat: no-repeat;
}

.title-image-impact-wrapper {
    display: flex;
    flex-direction: column;
}

/***************************** CAROUSEL *****************************/

* {
    box-sizing: border-box
}

/* Slideshow container */

.slideshow-container-impact {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: -40px;
}

/* Hide the images by default */

.mySlides {
    padding-top: 25px;
    height: 450px;
    display: none;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    left: 70%;
}

/* Position the "next button" to the right */

.next {
    border-radius: 80px;
    width: 50px;
    height: 50px;
    color: grey;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-top: 20px;
}

/* Caption text */

.text-aside {
    height: fit-content;
    width: 150px;
    text-align: -webkit-center;
    margin-right: 20px;
    position: relative;
    left: 55%;
    top: 90px;
}

.text-aside-desktop {
    display: none;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.uganda-slide {
    background-image: url(../../assets/images/uganda_popsicle.png);
    background-repeat: no-repeat;
    height: 480px;
    width: 50%;
    background-size: 125px 400px;
    padding-right: 50%;
    margin-left: 15%;
}

.india-slide {
    background-image: url(../../assets/images/india_popsicle.png);
    background-repeat: no-repeat;
    height: 480px;
    width: 50%;
    background-size: 110px 400px;
    padding-right: 50%;
    margin-left: 15%;
}

.news-title {
    background-color: $blue-bg;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 7px;
    color: white;
    font-family: $Oswald;
}

.see-reports {
    flex-direction: column;
    text-align: -webkit-cente;
    display: flex;
    width: 65%;
    a {
        color: black;
    }
    p {
        margin: 0%;
        font-family: $Mont;
        font-size: 1rem;
        line-height: initial;
    }
}

.see-reports-wrapper {
    display: flex;
    justify-content: center;
    text-align: -webkit-center;
    margin: 25px 0px;
    color: black;
}

/*********************************** VIDEOS *****************************/

.videos-impact {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    div {
        height: 203px;
    }
    iframe {
        height: 200px;
    }
}

/************************************* NEWS *****************************/

.new-impact {
    background-image: url('../../assets/images/Impact_News1.jpg');
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 1200px;
    
    h2 {
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0px;
    
         a {
            color: white;
            text-decoration: none;
            font-size: 1rem;
            text-align: -webkit-center;
        }
    }
}

.arrow-link-news {
    border-radius: 50px;
    border-color: lightgray;
    border-style: solid;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    border-width: 1px;
    margin-left: 20px;
    position: absolute;
    left: 70%;
    font-family: $Mont;
    color: lightgray;
}

.text-area-news {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $Mont;
    line-height: initial;
    max-width: 1200px;
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.title-area-news {
    width: 100%;
    font-size: 1.25rem;
}

.loadmore-impact-btn {
    color: grey;
    margin-top: -5px;
    max-width: 1200px;
    cursor: pointer;
    font-size: 1rem;
}

.load-more-area {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: baseline;
    justify-content: baseline;
    margin: 50px 0 25px;
    font-family: Montserrat;
    text-decoration: underline;
    -webkit-text-decoration-color: gray;
    text-decoration-color: gray;
    font-weight: 200;
    -ms-flex-pack: end;
    justify-content: center;
    cursor: pointer;
}

.hide-impact-btn {
    display: none;
    color: grey;
    margin-top: -5px;
    max-width: 1200px;
    cursor: pointer;
    font-size: 1rem;
}

.cfs-hyperlink span {
    display: none;
}

.cfs-hyperlink .text {
    display: none;
}

.arrow-link-news {
    width: 30px;
    height: 30px;
    font-size: 2.25rem;
    padding-left: 1px;
    position: absolute;
    left: 85%;
    font-weight: 100;
    padding-bottom: 5px;
}

.text-area-news span {
    color: gray;
    border-color: gray;
    font-weight: 300;
    position: absolute;
    left: 85%;
    height: 20px;
    width: 20px;
    padding-left: 2px;
    font-size: 1.5rem;
    padding-top: 2px;
    display: flex;
}

.text-area-news:nth-of-type(-n+3) {
    span {
        display: none;
    }
}

.text-area-news:nth-of-type(-n+3) {
    position: relative;
    bottom: 110px;
    margin-bottom: -146px;
    color: white;
    text-align: -webkit-center;
    height: 65px;

    span {
        width: 35px;
        height: 35px;
        border-color: gray;
        color: gray;
        font-size: 2rem;
        padding-left: 2px;
        padding-bottom: 8px;
    }
}

.text-area-news:nth-of-type(4) {
    margin-top: 100px;
}

.text-area-news:nth-of-type(n+4) {
    position: relative;
    height: 75px;
    border-bottom: solid 1px;
    border-bottom-color: lightgray;
    color: #000;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    width: 320px;
    max-width: 1200px;
    -ms-flex-pack: left;
    justify-content: left;
    padding: 20px 60px;
    margin-left: 30px;
    &:hover {
        text-decoration: underline;
        filter: brightness(0.95);
        cursor: pointer;
    }
    p {
        font-weight: 300;
        font-size: 1rem;
        margin: 0px;
    }
    a {
        height: 35px;
    }
    span {
        color: gray;
        border-color: gray;
        font-weight: 300;
        position: absolute;
        left: 85%;
        height: 20px;
        width: 20px;
        padding-left: 0px;
        font-size: 1.5rem;
        padding-top: 2px;
        display: flex;
    }
}

.text-area-news:nth-of-type(n+9) {
    display: none;
}

.new-impact:nth-of-type(n+2) {
    margin-top: 80px;
}

.new-impact:nth-of-type(n+4) {
    display: none;
}

.text-area-news .cfs-hyperlink {
    background-color: transparent;
    width: 80%;
    height: 70px;
    position: absolute;
    max-width: 1200px;
}

.text-area-news:nth-of-type(3) {
    bottom: 70px;
}

.text-area-news:nth-of-type(-n+2) {
    bottom: 67px;
}

.cfs-hyperlink:nth-of-type(n+3) {
    background-color: transparent;
    width: 80%;
    height: 110px;
    position: absolute;
    max-width: 1200px;
    border-bottom: solid;
    border-bottom-color: lightgrey;
    border-bottom-width: 1px;
}

.cfs-hyperlink span {
    display: none;
}


/******************************************** DESKTOP VERSION *****************************************/

@media screen and (min-width: 768px) {

    .text-area-news .cfs-hyperlink {
        width: 100%;
        height: 110px;
    }

    .site-main-impact {
        width: 100%;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .title-image-impact-wrapper {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 40px;
    }
    .content-area-impact {
        width: 100%;
        text-align: -webkit-center;
    }
    .hero-image-impact {
        height: 600px;
        width: 1200px;
        background-size: 2300px 1500px;
        background-repeat: no-repeat;
        background-position-x: -415px;
        background-position-y: -175px;
    }
    .site-main-impact h1 {
        text-transform: uppercase;
        margin-top: 30px;
        text-align: center;
        font-family: $Oswald;
        font-weight: 400;
        letter-spacing: -1px;
        font-size: 3.75rem;
        margin-bottom: 0px;
        color: black;
    }
    .slideshow-container-impact {
        display: none;
    }
    .popsicles-desktop-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .popsicle-desktop {
        width: 200px;
        height: 600px;
        background-repeat: no-repeat;
    }
    .popsicle-desktop-india {
        background-image: url(../../assets/images/india_popsicle.png);
        margin-left: 25px;
    }
    .popsicle-desktop-uganda {
        background-image: url(../../assets/images/uganda_popsicle.png);
    }
    .text-aside-desktop {
        height: 150px;
        width: 300px;
        text-align: -webkit-center;
        margin-right: 25px;
        font-size: 1.75rem;
        font-weight: 300;
        line-height: 35px;
        display: block;
        color: black;
    }
    .see-reports-wrapper {
        margin: 0;
        margin-bottom: 60px;
        p {
            font-size: 1.5rem;
            font-weight: 300;
        }
        span {
            text-decoration: underline;
        }
    }
    .videos-impact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 350px;
        div {
            height: 300px;
        }
        iframe {
            height: 250px;
            width: 450px;
            padding: 20px;
        }
    }
    .news-title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
    }
    .news-title {
        background-color: #04809e;
        height: 250px;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        text-transform: uppercase;
        margin-bottom: 0px;
        margin-top: 7px;
        color: #fff;
        font-family: Oswald;
        font-size: 4rem;
        width: 100%;
    }
    .new-impact {
        height: 550px;
        h2 a {
            font-size: 1.75rem;
            position: relative;
        }
    }
    .text-area-news {
        height: 25%;
    }

    .text-area-news:nth-of-type(n+4) {
        width: 700px;
        padding: 0 30px;

        p {
            font-size: 1.2rem;
        }
    }

    .load-more-area {
        display: flex;
        width: 585px;
        justify-content: left;
    }

    .text-area-news:nth-of-type(3) {
        top: -202px;
    }

    .text-area-news .cfs-hyperlink {
        width: 100%;
    }

    .new-impact:nth-of-type(n+2) {
        margin-top: 40px;
    }

    .text-area-news:nth-of-type(-n+3) {
        bottom: 202px;
        margin-bottom: -240px;
        height: 200px;

        a {
            height: 202px;
            top:0px;
        }
    }

    .text-area-news:nth-of-type(n+4)  {
        border-style: none;
        border-bottom: none;
    } 

    .loadmore-impact-btn {
        font-size: 1.25rem;
    }

    .hide-impact-btn {
        font-size: 1.25rem;
    }
    
    .text-area-news:nth-of-type(-n+3) {
        opacity: 0;

        &:hover {
            opacity: 1;
            transition: 0.7s ease-out;
        }
    }
}

@media screen and (min-width: 900px) {
 
    .text-area-news:nth-of-type(-n+3) {
        span {
            display: flex;
        }
    }
}
