@import "variables";


.site-main-impact h1 {
    text-transform: uppercase;
    margin-top: 40px;
    text-align: center;
    font-family: Oswald;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 1.75rem;
    margin-bottom: 15px;
}

.hero-image-impact-wrapper {
    display: flex;
    justify-content: center;
}

.hero-image-impact {
    background-image: url(../../assets/images/impact-hero.jpg);
    height: 220px;
    width: 100%;
    background-size: 680px 450px;
    background-position-x: -125px;
    background-position-y: -70px;
    background-repeat: no-repeat;
}


.title-image-impact-wrapper {
    display: flex;
    flex-direction: column;
}

.mySlides .fade {
    padding-top: 0px;
}

/***************************** CAROUSEL *****************************/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: -40px;
}

/* Hide the images by default */
.mySlides {
    padding-top: 25px;
    height: 450px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  left: 70%;
}

/* Position the "next button" to the right */
.next {

    border-radius: 80px;
    width: 50px;
    height: 50px;
    color: grey;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-top: 20px;

}

/* Caption text */

.text-aside {
    height: fit-content;
    width: 150px;
    text-align: -webkit-center;
    margin-right: 20px;
    position: relative;
    left: 55%;
    top: 90px;
}

.text-aside-desktop {
    display: none;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.test {
    background-image: url(../../assets/images/uganda_popsicle.png);
    background-repeat: no-repeat;
    height: 480px;
    width: 50%;
    background-size: 125px 400px;
    padding-right: 50%;
    margin-left: 15%;
}

.test2 {
    background-image: url(../../assets/images/india_popsicle.png);
    background-repeat: no-repeat;
    height: 480px;
    width: 50%;
    background-size: 110px 400px;
    padding-right: 50%;
    margin-left: 15%;
}

.news-title {
    background-color: $blue-bg;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 7px;
    color: white;
    font-family: $Oswald;
}

.see-reports{
    flex-direction: column;
    text-align: -webkit-cente;
    display: flex;
    width: 65%;

    a{
    color: black;
    }

    p{
     margin: 0%;
     font-family: $Mont;
     font-size: 1rem;
     line-height: initial;
    }
}

.see-reports-wrapper {
    display: flex;
    justify-content: center;
    text-align: -webkit-center;
    margin: 25px 0px;
    color: black;
}

/*********************************** VIDEOS *****************************/

.videos-impact {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    div {
        height: 203px;
    }

    iframe {
        height: 200px;
    }
}

/************************************* NEWS *****************************/


.new-impact {
    background-image: url('../../assets/images/Impact_News1.jpg');
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 1200px;

    h2 {
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0px;
    }

    h2 a {
        color: white;
        text-decoration: none; 
        font-size: 1rem;
        text-align: -webkit-center;
    }
}

.arrow-link-news {
    border-radius: 50px;
    border-color: white;
    border-style: solid;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    border-width: 1px;
    margin-left: 20px;
    position: absolute;
    left: 83%;
    font-family: $Mont;
}

.text-area-news {
    background-color:rgba(0,0,0,0.5);
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $Mont;
    line-height: initial;

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.title-area-news {
    width: 70%;
}

.news-nophoto-area{
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid;
    border-width: 1px;
    border-bottom-color: grey;

    a {
        text-decoration: none;
    
        &:visited {
            color: grey;
        }
    }
}

.news-nophoto {
    color: black;
    font-weight: 300;
    font-family: $Mont;
}

.news-nophoto-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: 40px;
    max-width: 1200px;
}

.arrow-link-news-nophoto {
    border-radius: 50px;
    border-color: gray;
    border-style: solid;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    border-width: 1px;
    color: gray;
    margin-bottom: 5px;
    margin-left: 5px;
    max-width: 1200px;
}

.load-more {
    color: black;
    margin-top: 10px;
    max-width: 1200px;
}

.load-more-area {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px;
    padding-left: 5%;
    font-family: $Mont;
    text-decoration: underline;
}

.cfs-hyperlink span {
    display: none;
}
/******************************************** DESKTOP VERSION *****************************************/

@media screen and (min-width: 768px){

    .site-main-impact {
        width: 100%;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .title-image-impact-wrapper {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 40px;
    }

    .content-area-impact {
        width: 100%;
        text-align: -webkit-center;
    }

    .hero-image-impact {
        height: 600px;
        width: 1200px;
        background-size: 2300px 1500px;
        background-repeat: no-repeat;
        background-position-x: -415px;
        background-position-y: -175px;
    }

    .site-main-impact h1 {
        text-transform: uppercase;
        margin-top: 30px;
        text-align: center;
        font-family: $Oswald;
        font-weight: 400;
        letter-spacing: -1px;
        font-size: 3.75rem;
        margin-bottom: 0px;
        color: black;
    }

    .slideshow-container {
        display: none;
    }

    .popsicles-desktop-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .popsicle-desktop {
        width: 200px;
        height: 600px;
        background-repeat: no-repeat;
    }

    .popsicle-desktop-india {
        background-image: url(../../assets/images/india_popsicle.png);
        margin-left: 25px;
    }

    .popsicle-desktop-uganda {
        background-image: url(../../assets/images/uganda_popsicle.png);
    }

    .text-aside-desktop {
        height: 150px;
        width: 300px;
        text-align: -webkit-center;
        margin-right: 25px;
        font-size: 1.75rem;
        font-weight: 300;
        line-height: 35px;
        display: block;
        color: black;
    }

    .see-reports-wrapper {
        margin: 0;
        margin-bottom: 60px;

        p{
            font-size: 1.5rem;
            font-weight: 300;
        }

        span {
            text-decoration: underline;
        }
    }

    .videos-impact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 350px;

        div {
            height: 300px;
        }

        iframe {
            height: 250px;
            width: 450px;
            padding: 20px;
        }
    }

    .news-title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
    }


    .news-title {
        background-color: #04809e;
        height: 250px;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        text-transform: uppercase;
        margin-bottom: 0px;
        margin-top: 7px;
        color: #fff;
        font-family: Oswald;
        font-size: 4rem;
        width: 100%;
    }

    .new-impact {
        height: 550px;

        h2 a{
            font-size: 1.75rem;
            position: relative;
        }
    }

    .text-area-news {
        height: 25%;
    }

    .text-area-news .cfs-hyperlink {
        background-color: transparent;
        width: 80%;
        height: 135px;
        position: absolute;
        max-width: 1200px;
    }

    .arrow-link-news {
        width: 50px;
        height: 50px;
        font-size: 2rem;
        padding-left: 2px;
        left: 7%;
    }
}