#error404-html {
    height: 100%;
}
.error404 {
    height: 100%;

    .site {
        height: 100%;

        .site-content {
            height: 100%;
        }
    }

    .page-content {

        height: 100%;

        @include center-block();

        @include desktop {
            width: 85%;
        }
        
        section {
            height: 100%;
            width: 100%;
            position: relative;

            // display: flex;
            // flex-direction: row;
            // flex-wrap: nowrap;
            
            background-color: #00B7E2;
            background-image: url("../../assets/images/404-sign.svg"), 
                              url("../../assets/images/404-bus.svg");
            background-position: 60% 65%, 130% 70%;
            background-repeat: no-repeat, no-repeat;
            background-size: auto 50%, auto 50%;

            @include desktop {
                background-position: 60% 65%, 130% 70%;
                background-size: auto 50%, auto 50%;
            }

            .nf-text {
                height: 100%;
                width: 50%;
                position: absolute;
                top: 55%;
                left: 5%;

                color: white;
                font-weight: bold;
            }

            // .nf-sign-and-bus {
               
            // }
        }
    }

}