.page-template-archive-products {


    .shop-banner {
        padding-top: 5%;
        padding-bottom: 5%;
        margin-top: 15%;

        @include desktop {
            margin-top: 10%;
        }
    }
    .banner {
        display: flex;
        position: relative;

        picture {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            img {
                position: relative;
            }
        }
        h1 {
            bottom: 0%;
            position: absolute;
            margin: 0;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.25));
            justify-content: center;
        }
    }
    .shop-info{
        display:none;
    } 

    .single-product{
        list-style: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-basis: 40%;
        height: auto;

        img{
            height: 80%;
            width: 100%;
        }
    }
    .products-gallery-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 14rem;
        grid-gap: 1rem;
        width: 100%;
  

        .single-product{
            padding:1%;
        }
        .single-product:nth-child(1) {
            grid-column: 1;
            grid-row: 1;
        }
        .single-product:nth-child(2) {
            grid-column: 2;
            grid-row: 1;
        }
        .single-product:nth-child(3) {
            grid-column: 1;
            grid-row: 2;
        }
        .single-product:nth-child(4) {
            grid-column: 2;
            grid-row: 2;
        }
  
        .product-info {
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 20%;
            a {
                color: black;
                text-decoration:none;
                font-family:$Mont;
                width:100%;
                text-transform:capitalize;
            }
            p {
                margin: 0px;
                font-family:$Mont;
                font-weight:bold;
             
             
            }
        }
        picture {
            display: flex;
            height: 15rem;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    @media screen and (max-width: 500px) {
        .products-gallery-container {
        
            picture {
                display: -ms-flexbox;
                display: flex;
                height: 8rem;
                width: 100%;

            }    
        }
    }    
      @media screen and (min-width: 500px) {

        .products-gallery-container{
        grid-auto-rows: 18rem;
        picture{
            height: 14rem;
        }

        }
      }
      @media screen and (min-width: 650px) {
        .products-gallery-container{
            grid-auto-rows: 18rem;
    
        }
          
    }
 

    @include tablet {
        .products-gallery-container {
            grid-template-rows: 1fr 1fr;
            grid-auto-rows: 22rem;
            padding-bottom:5%;

            picture{
                height:18rem;
            }
            .single-product {
                .product-image {
                    width: 100%; 
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                }
            }
        }
    }
    @media screen and (min-width: 800px) {
        .products-gallery-container{
            grid-auto-rows: 22rem;

            picture{
                height:20rem;
            }
    
            } 
    }
    @media screen and (min-width: 950px) {
        .products-gallery-container{
            grid-auto-rows: 24rem;
           

            picture{
                height:22rem;
            }
    
            }
          
    }
    @include desktop {
        .shop-page-content {
            margin-top: 5%;
            height: auto;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .site-content-wrapper {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 90%;
            }
        }
        .shop-page-header {
            .shop-info {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                margin-top: 10%;
                justify-content: center;

                

                p {
                    height:5rem;
                    text-align:center;
                    font-family:$Oswald;
                    font-size:2rem;
                }
            }
            .banner {
                display: flex;
                position: relative;
                flex-direction: column;
                picture {
                    display: none;
                }

                
                h1 {
                    background: $yellow;
                    font-family:$Oswald;
                }
            }
        } 
        
        // products gallery
        // .alm-listing{
        //     width: 100%;
        //     display: flex;
        //     flex-wrap: wrap;
        //     flex-direction: row; 
        //     height: auto;
        //     justify-content: center;
        // }
      
        .single-product {
            display: flex;
            flex-basis: 20%;
            flex-wrap: wrap;
            padding: 1%;
            flex-direction: row;

            .product-info{
                p{
                    width:100%;
                }
            }
        }
        
    }

    @media screen and (min-width: 1080px) {

        .products-gallery{
            display:flex;
            width:100%;
            justify-content:center;


        }
        .products-gallery-container{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 90%; 

            picture{
                height:13rem;
            }

            .single-product{
                list-style: none;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: row;
                flex-direction: row;
                padding: 1%;
                flex-wrap: wrap;
                -ms-flex-preferred-size: 40%;
                flex-basis: 25%;
                height: 20rem;
            }
        }
}   }