.page-template-archive-products {
    .shop-banner {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .banner {
        display: flex;
        position: relative;
        picture {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            img {
                position: relative;
            }
        }
        h1 {
            bottom: 0%;
            position: absolute;
            margin: 0;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.25));
            justify-content: center;
        }
    }
    .products-gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
        width: 100%;
        min-height: 20rem;
        .single-product:nth-child(1) {
            grid-column: 1;
            grid-row: 1;
        }
        .single-product:nth-child(2) {
            grid-column: 2;
            grid-row: 1;
        }
        .single-product:nth-child(3) {
            grid-column: 1;
            grid-row: 2;
        }
        .single-product:nth-child(4) {
            grid-column: 2;
            grid-row: 2;
        }
        .single-product {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            .product-image {
                width: 100%;
                height: 65%;
                display: flex;
                flex-wrap: wrap;
            }
        }
        .product-info {
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 20%;
            a {
                color: black;
            }
            p {
                margin: 0px;
            }
        }
        picture {
            display: flex;
            height: 9rem;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    @include tablet {
        .products-gallery-container {
            grid-template-rows: 1fr 1fr;
            .single-product {
                .product-image {
                    width: 100%; 
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                }
            }
        }
    }

    @include desktop {
        .shop-page-content {
            margin-top: 5%;
            height: auto;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .site-content-wrapper {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 90%;
            }
        }
        .shop-page-header {
            .shop-info {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                margin-top: 10%;
                justify-content: center;
            }
            .banner {
                display: flex;
                position: relative;
                flex-direction: column;
                picture {
                    display: none;
                }
                h1 {
                    background: $yellow;
                }
            }
        } 
        
        // products gallery
        .products-gallery {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row; 
            height: auto;
            justify-content: center;
        }
        .products-gallery-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 90%;
        }
        .single-product {
            display: flex;
            flex-basis: 20%;
            flex-wrap: wrap;
            padding: 1%;
            flex-direction: row;

            .product-info{
                p{
                    width:100%;
                }
            }
        }
    }
}