.products-template-default.single-products {

    .fas {
        font-size: 2rem;
        text-align: center;
        width: 100%;
        
        @include desktop {
            margin-top: 20%;
        }
    }

    .content-area {
        padding-top: 5%;
    }
    .product-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
       // margin-top: 7%;

        .product-header{
            display: flex;
            width: 100%;
            font-size: 1.5rem;
            text-transform: capitalize;
            flex-direction: row;
            p{
                font-family:$Oswald;
                text-align: center;
                width:100%;
                margin:0px;
            }
        }
    }
    .product-images {
        display: grid;
        grid-template-rows: 20rem;
        grid-template-columns: 80% 20%;
        width: 100%;
        padding: 5%;
    }
    .main-image {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 1;
        flex-wrap: wrap;
        img {
            height: 100%;
            max-width: 100%;
            width: 100%;
        }
    }
    .thumbnails-wrapper {
        grid-column-start: 2;
        grid-row-start: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .img-min {
            display: flex;
            flex-direction: column;
            height: 20%;
            width: 100%;
            img {
                height: 100%;
                max-width: 100%;
                width: 100%;
                padding-left: 3%;
                padding-right: 3%;
            }
        }
    }



    .product-details{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;


        .name-price-wrapper{
        
            display: flex;
            width: 90%;
            flex-direction: row;
            justify-content: space-between;
        
            h1, p{
                margin:0px;
                font-size:1rem;
                font-family:$Mont;
                font-weight:600;
                text-transform:capitalize;
            }
        }

        .additional-info{
            width:90%;
        }
    }

        .product-description{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content:center;

            .product-exerpt{
                font-weight:400;
            }

            p{
                width:90%;
                font-family: $Mont;
                font-weight:600;  

            }

           
        }
       

.select-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
   

    select{
        width:10rem;
        height:2.5rem;
        font-family:$Mont;
        margin:5%;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    }
}

.add-to-cart-btn{
    background-color: $yellow;
    width: 13rem;
    border-radius: 30px;
    font-family: $Mont;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.4);
    padding: 8%;
    margin-top: 5%;
    margin-bottom: 5%;


}

// @media screen and (max-width: 500px) {}

@media screen and (min-width: 500px) {

    .product-images{
    grid-template-rows: 25rem;
    }

}


@media screen and (min-width: 650px) {
    .product-images{
    grid-template-rows: 28rem;
    }
}





    @include tablet {
        .product-images {
            grid-template-rows: 33rem;
        }
    }


    @media screen and (min-width: 800px) {

        .product-images {
            grid-template-rows: 35rem;
          
        }
    }


    @media screen and (min-width: 950px) {
        .product-images {
            grid-template-rows: 40rem;
          
        }
    }


    @include desktop {

        .images-details-wrapper{
            display: flex;
            flex-direction: row;
            width: 100%;
            padding:3%;
        }
        .product-images {
            display: grid;
            grid-template-rows: 26rem;
            grid-template-columns: 60% 40%;
            width: 75%;
            padding-left: 2%;
        }
        .product-info {
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            width: 100%;  
            justify-content: center;
            margin-top: 7%; 
        }

        .name-price-wrapper{
            margin: 0;
            font-size: 1rem;
            font-family: $Mont;
            font-weight: 600;
            text-transform: capitalize;
            width: 100%;
            text-align: center;
            h1, p{
                width:100%;
            }
        
        }
        
        .product-details {
            width:30%;
            padding-right: 1%;
            padding-top: 5%;
            height: 60%;
        }
        .product-description{
            display: flex;
            padding: 3%;
            flex-wrap: wrap;
            p{
                width:95%;
            }
        }
        .main-image {
            display: flex;
            grid-column-start: 1;
            grid-column-end: 1;
            flex-direction: column;
            flex-wrap: wrap;
            .img-min {
                width: 100%;
                height: 1000%;
                flex-wrap: wrap;
                display: flex;
            }
            picture {
                width: 100%;
                height: 100%;
            }
        }
        .thumbnails-wrapper {
            flex-direction: row;
            flex-wrap: wrap;
            display: flex;
            width: 100%;
            height: auto;
            .img-min:first-child() {
                width: 100%;
                height: 50%;
                flex-wrap: wrap;
                display: flex;
                picture {
                    width: 100%;
                    height: 100%;
                }
            }
            .img-min:nth-child(2),
            .img-min:nth-child(3),
            .img-min:nth-child(4) {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                height: 25%;
                width: 50%;
                padding-top: 3%;
            }
        }

        .name-price-wrapper, .select-buttons{
            flex-wrap:wrap;
        }
    }
}