.products-template-default.single-products{

    .product-info{
        display:flex;
        justify-content:center;
        margin-top:5%;
    }
   
    .product-images{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 80% 20%;
        max-height:20rem;
        width:80%;
        padding: 5%;
    }

    .main-image{
        display: flex;
        grid-column-start: 1;
        grid-column-end: 1;
        min-height: 20rem;
        flex-wrap: wrap;
    

        img{
            height: 100%;
            max-width: 100%;
            width: 100%;
        
        }
    }    
    .thumbnails-wrapper{
        grid-column-start: 2;
        grid-row-start: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .img-min{
            display:flex;
            flex-direction:column;
            height:20%;
            width:100%;

            img{
                height: 100%;
                max-width: 100%;
                width: 100%;
                padding-left: 3%;
                padding-right: 3%;
            
            }
            
        }
    }

    @include tablet {


    .product-images{
        // display: grid;
        // grid-template-rows: 1fr;
        // grid-template-columns: 80% 20%;
        max-height:40rem;
        // width:80%;
        // padding: 5%;
    }

    }

    @include desktop {

         .product-images {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 60% 40%;
            width: 80%;
        }

        .main-image{
            display: flex;
            grid-column-start: 1;
            grid-column-end: 1;
          //  min-height: 30rem;
        //   
            flex-direction: column;
            flex-wrap: wrap;

            .img-min{
                width: 100%;
                height: 1000%;
                flex-wrap: wrap;
                display: flex;
            }
            picture{
                width: 100%;
                height: 100%;
            }
        }
        .thumbnails-wrapper{
            flex-direction: row;
            flex-wrap: wrap;
            display: flex;
            width: 100%;
            height: 35rem;
            //max-height: 40rem;

        

        .img-min:first-child(){
            width: 100%;
            height: 50%;
            flex-wrap: wrap;
            display: flex;

            picture{
                width:100%;
                height:100%;
            }
        }

        .img-min:nth-child(2),
        .img-min:nth-child(3),
        .img-min:nth-child(4){
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            height: 25%;
            width: 50%;
            padding-top: 3%;

        }

    }
    

    }

 







}