@import 'variables';

.site-main-donate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 120px;
}

.image-page-donate{
    width: 90%;
    height: 200px;
    background-size: cover;
    background-position-x: center;
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
}

.donation-image {
    background-image: url(../../assets/images/whatwedo.jpg);
    background-size: cover;
    background-position: center;
}

.sponsor-image {
    background-image: url(../../assets/images/sponsor.jpg);
    background-size: cover;
    background-position: center;
}

.donate-btn {
    width: 65%;
    border-radius: 50px;
    height: 55px;
    background-color:#f6e24f;
    position: relative;
    bottom: -25px;
    text-transform: uppercase;
    font-family: $Oswald;
    font-weight: 700;
    font-size: 1.2rem;
    color: #474747;
    box-shadow: 1px 2px #888888;
}

@media screen and (min-width: 768px){
    
    .site-main-donate{
    margin-top: 100px;
    }   

    .image-page-donate {
        background-size: 2014px 485px;
        background-position-y: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 80%;
        height: 400px;
    }

    .donation-image {
        background-image: url(../../assets/images/whatwedo.jpg);
        background-position: center;
    }

    .sponsor-image {
        background-image: url(../../assets/images/sponsor.jpg);
        background-position: center;
    }
    
    .donate-btn {
        width: 35%;
    }
}