@import 'variables';

.site-info{
    color: white;
    font-family: $Mont;
    letter-spacing: 0.5px;
}

.main-container-footer{
    height: auto;
    width: 100%;
    background-color: #474747;
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
}

.followuson-links {
    display: none;
}

.featuredon-links p {
    text-transform: capitalize;
}

.subscription-container {
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
    font-weight: 700;

    form, input {
        background-color: #474747;
        width: 400px;
        height: 50px;
        border: none;
    }

    input {
        border-bottom-color:gray;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding-top: 25px;
        padding-left: 10px;
    }

    button {
        padding-top: 0;
        padding-bottom: 0;
        width: 125px;
        height: 40px;
        margin-top: 15px;
        margin-bottom: 0;
        border-radius: 50px;
        background-color: #474747;
        box-shadow: none;
        color: #f6e24f;
        border-color: #f6e24f;
        font-weight: bold;
        text-shadow: initial;
        font-size: 14px;
    }

    p{
        margin-top: 20px;
        margin-bottom: 12px;
        text-transform: capitalize;
        font-weight: 700;
    }

    span {
        text-transform: none;
    }
}

#subscription-form {
   display: contents; 
}

.subscription-container {
    width: 100%;
    height: auto;
}

.subscription-container form, .subscription-container input {
    width: 85%;
    border-bottom-width: 2px;
}

#email-input {
    background-color: #474747;
}


.followuson-links-mob {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    
    ul {
        text-align: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
        font-weight: 300;
    }
    
    li{
        display: inline;
        margin-right: 5px;
    }

    .fab {
        border-style: solid;
        border-radius: 60px;
        width: 35px;
        height: 35px;
        font-size: 18px;
        padding-top: 7px;
        border-width: 0.5px;
        color: lightgray;
    }
}

#contactus {
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: none;
}

.contact-info p {
    margin: 0px;
    font-weight: 300;
    font-size: 14px;
}

.registration {
    margin: 15px;
    font-weight: 300;
}


.bkg-featuredon {
    background-image: url(../../assets/images/featured-logo.svg);
    background-repeat: no-repeat;
    height: 65px;
    width: 300px;
    background-position: unset;
    background-size: cover;
}

.featuredon-links {
    
    picture {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    p {
        margin-bottom: 5px;
    }
}

.widget-title {
    display: none;
}

/***********************MEDIA QUERY MIN 1024PX*********************************/


@media screen and (min-width: 1024px){

    .site-info{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 550px;
        color: white;   
    }

    .main-container-footer{
        height: 600px;
        width: 90%;
        margin-bottom: 40px;
        max-width: 1400px;
    }

    .featuredon-links, .followuson-links{
        width: 50%;
    }

    .followuson-links {
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p{
          text-transform: capitalize;
          margin-bottom: 33px;
        }
    }

    .followuson-links-mob {
        display: none;
    }
    
    .footer-links {
        height: 180px;
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        font-weight: 700;

        ul {
            text-align: center;
            display: flex;
            margin: 0;
            padding: 0;
            height: 135px;
            justify-content: center;
            font-weight: 300;
        }
        
        li{
            display: inline;
            margin-right: 7px;
        }

        .fab {
            border-style: solid;
            border-radius: 140px;
            width: 55px;
            height: 55px;
            font-size: 27px;
            padding-top: 12px;
            border-width: 1px;
            color: #d3d3d3;
            
            &:hover {
                color: white;
            }
        }

        p {
            text-align: center;
        }

        aside {
            width: auto;
        }
    }   

    .subscription-container form, .subscription-container input {
        width: 50%;
        color: white;
        font-weight: 300;
        padding-left: 25px;
    }

    .subscription-container {
        margin-top: 0px;

        button {
            cursor: pointer;
            padding-top: 0;
            padding-bottom: 0;
            width: 220px;
            height: 60px;
            margin-top: 15px;
            margin-bottom: 0;
            border-radius: 25px;
            background-color: #f6e24f;
            box-shadow: none;
            color: #474747;
            border-color: #474747;
            font-weight: 500;
            text-shadow: none;
            font-size: 1.75rem;
            font-family: $Oswald;
            border-bottom: black;
            border-bottom-width: 2px;
            border-bottom-style: solid;
        }   

        input {
            font-size: 1.75rem;
            font-weight: 300;
            font-family: $Mont;
            padding-bottom: 16px;
            letter-spacing: 2px;
            padding-left: 15px;
        }
    }

    #contactus {
        margin-top: 40px;
        margin-bottom: 40px;
        text-transform: none;
    }

    .contact-info {
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contact {
        display: flex;
        width: 100%;
        justify-content: center;
        p{
            font-size: 1rem;
            margin-right: 30px;
        }
    }
    .registration { 
        margin: 0px;
        display: flex;
        p {
            margin-right: 40px;
            font-size: .75rem;
        }
    }

    .bkg-featuredon {
        height: 105px;
        width: 520px;
        background-position: initial;
    }
 
    .widget .widget_text{
        justify-content: center;
        display: flex;
        width: auto;
    }
}