.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: fixed;
    width: 100%;
    height: 10%;
    padding-top: 2%;
    top: 0;
    padding-bottom: 2%;
    border-bottom: 1px solid $grey;
    box-shadow: 0 1px grey;
    z-index: 10;

    .site-branding {
        display: none;
    }

    @include desktop {
        justify-content: space-around;
        width: 100%;
        height: 12%;
    }


    .header-logo {
        background-image: url('../../assets/images/twsb_logo-large.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        flex-basis: 14%;
        align-self: center;

        @include desktop {
            // width: 80px;
            height: 80px;
            margin-left: 3%;
        }
    }

    .site-name {
        font-size: 1rem;
        text-transform: uppercase;
        flex-basis: 60%;
        text-align: center;
        align-self: center;
        font-family: $Oswald;
        letter-spacing: 1.5px;

        @include desktop {
            display: none;
        }
    }

    .main-navigation {
       flex-basis: 14%;

       @include desktop {
           flex-basis: 100%;
       }

        .menu-toggle {
            background: none;
            border: none;
            box-shadow: none;
            font-size: 1.2rem;
            bottom: 0;

            @include tablet {
                display: inherit;
            }

            @include desktop {
                display: none;
            }
        }

        .search-form {
            position: absolute;
            top: 110%;
            left: 70%;


            fieldset {
                position: relative;
                border: none;
                padding: 0;
                display: flex;
                width: 70%;
                justify-content: space-around;
                align-items: center;

                label {

                    color: white;

                    .search-field {

                        background: lighten($grey, 60%);
                        border-radius: 15px;
                        border: none;
                        width: 100%;
                        padding: 0;
                        padding-left: 3px;
                        font-size: .8rem;
                        
                    }
                }
    
                .search-submit {
                    border: none;
                    background: none;
                    box-shadow: none;
                    right: 0;
                    position: absolute;
                    width: 20%;
                    z-index: 2;
                    top: -10%;
                    
    
                    i {
                        color: lighten($grey, 40%);
                    }
                }
            } 
        }

        .search-active {
            left: 2.5%;
            width: 90vw;
            transition-duration: 1s;
        }

        .menu-menu-1-container {
            width: 100%;
        }
        
        .menu {
            display: flex;
            position: absolute;
            left: 0;
            margin-left: 2.5%;
            margin-right: 2.5%;
            width: 95%;
            top: 160%;
            background: $blue;
            flex-direction: column;

            li {
                border-top: 1px solid white;
                padding: 8px;

                &:first-of-type {
                    border-top: none;

                    i {
                        display: none;
                    }
                }
            }

            a {
                color: white;
                font-family: $Oswald;
                text-transform: uppercase;
                font-size: 1.3rem;

                @include desktop {
                    color: black;
                }
            }

            @include desktop {
                display: flex;
                flex-direction: row;
                background: none;
                width: 100%;
                position: relative;
                justify-content: space-between;
                align-items: center;
                margin-left: -4%;
                margin-right: 0;

                li {
                    height: 5%;
                    text-align: center;
                    // margin: auto;
                    padding: .5% 5%;
                    // border-right: 1px solid gray;

                    &:first-of-type {
                        order: 10;
                        border-right: none;
                        background: $yellow;

                        a {
                            font-weight: bold;

                            i {
                                display: initial;
                                color: $blue;
                                position: relative;
                                left: 50px;
                                background: lighten($yellow, 20%);
                                padding: 8px;
                            }
                        }
                    }
                    
                   
                    &:hover {
                        background: $blue;
                    }

                    &:last-of-type {
                        border-right: none;
                    }

                    
                }

                a {
                    
                    text-align: center;
                    font-size: 1rem;
                    &:hover {
                        color: white;
                    }

                    &:active {
                        background: $blue;  
                    }
                }
            }  
        }
    }
}